.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 267px;
    height: 500px;
    background-color: #0C7CAC;
    border-radius: 42px;
    padding: 15px;

}

.title{
    color: #fff;
    font-size: 1.4rem;
}