.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    padding: 0 100px;
}

.title{
    font-weight: 600;
    font-size: 1.3em;
    font-style: normal;
    color: #0C7CAC;
}

.cards-container{
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    margin-top: 90px;
    width: 100%;
    display: grid;
    gap: 20px;
    justify-items: center;
}