* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}

body {
  background-color: rgba(0, 0, 0, 0.85);
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
